* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 242, 242);
}

a:active {
  color: black;
}

.sideBarItem {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 10px;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  gap: 5px;
  color: rgb(137, 95, 4);
  background-color: rgba(255, 255, 255, 0.501);
}

.sideBarItem:hover {
  background-color: rgb(212, 146, 5);
  color: rgb(240, 228, 203);
}

.headerItemStale {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 4px;
}
.headerItem {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 4px;
  cursor: pointer;
}

.headerItem:hover {
  background-color: rgb(220, 220, 220);
}

.headerImage {
  width: 40px;
  height: 40px;
  padding: 4px;
}

.notVisible {
  display: none;
}

.headerTitle {
  color: rgb(243, 169, 9);
}

.headerMajor {
  border-radius: 30px;
  background-color: rgb(243, 169, 9);
  text-align: center;
  color: white;
  padding: 10px;
  width: fit-content;
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(243, 169, 9, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(212, 146, 5, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}
.tech-icons > p {
  font-size: 0.25em !important;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}
.hover {
  display: none;
}
.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(243, 169, 9, 0.883) !important;
}
.tech-icons:hover + .hover:hover {
  display: block;
  color: red;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}
